* {
    margin: 0;
    color: #222;
    font-family: 'Inter', sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-track {
    /* background: yellow; */
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

*::-webkit-scrollbar-thumb {
  background-color: #999;
  /* outline: 1px solid slategrey; */
}

body {
    width: 100%;
    max-height: 100%;
    background: #F0F0F0;
}

:root {
    --box-width: 60px;
    --box-height: 40px;
}

.box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: scroll;
    transition: 0.25s;
}

.filter {
    height: var(--box-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    position: sticky;
    font-size: 14px;
    color: #666;
    z-index: 1000;
    background: rgb(204, 203, 102);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.main__block_left {
    position: absolute;
    height: auto;
    top: var(--box-height);
    left: 0px;
    background: #e4e1a8;
    color: rgba(34, 34, 34, 0.6);
    font-size: 14px;
    z-index: 900;
}

.main__block {
    margin-left: var(--box-width);
    display: flex;
    flex-direction: column;
}

.date__block {
    display: flex;
    flex-direction: row;
}

.event__block {
    width: 100%;
    min-height: calc(100vh - 160px);
    background: none;
    position: relative;
}

.event__block_inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.month {
    display: flex;
    flex-direction: row;
    position: sticky;
}

.days {
    display: flex;
    flex-direction: row;
}

.day__group {
    display: flex;
    flex-direction: column;
}

.day__group_event {
    width: var(--box-width);
    height: 100%;
    background: rgba(205, 227, 240, 0.25);
    transition: 0.25;
}

.day__group_event:nth-child(2n) {
    opacity: 0.75;
}

.main__block_left div,
.month div,
.days .day__group .day {
    height: var(--box-height);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__block_left div:nth-child(2),
.days .day__group .day__week {
    background: rgba(0, 0, 0, 0.1);
    height: calc(var(--box-height) * 0.75);
    font-size: 12px;
}

.day__week {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__block_left div:nth-child(3) {
    background: rgba(0, 0, 0, 0.05);
}

.main__block_left div,
.days div {
    width: var(--box-width);
    transition: 0.25s;
    box-sizing: border-box;
}

.month {
    background: #FFF4D8;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    border-right: 0.5px dashed #aaa;
}

.month div {
    color: rgba(34, 34, 34, 0.6) !important;
}

.days div {
    color: rgba(34, 34, 34, 0.6);
    font-weight: 400;
    font-size: 20px;
    border-bottom: 0px solid #e27878;
}

.day__group:last-child {
    border-right: 0.5px dashed #aaa;
}

.days div:nth-child(2n) {
    background: rgba(205, 227, 240, 0.75);
}

.days div:nth-child(2n+1) {
    background: rgba(205, 227, 240, 1);
}

.days div:last-child {
    /* border-right: 1px dashed #aaa; */
}

.month div {
    position: sticky;
    left: var(--box-width);
    width: calc( 100vw - var(--box-width) );
}

.weekend {
    color: rgba(255, 0, 0, 0.6) !important;
}

.today {
    background: rgb(200, 210, 255) !important;
    font-weight: 700 !important;
}

.todayEvent {
    background: rgba(200, 210, 255, 0.5) !important;
}

.event {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
    transition: 0.25s;
    min-width: var(--box-width);
    white-space: nowrap;
    overflow: hidden;
    z-index: 998;
    cursor: pointer;
}

.event .level {
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.25);
    min-width: calc(var(--box-width) / 2);
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.event .img {
    height: 100%;

}

.event .img img {
    height: 100%;
    width: var(--box-height);
    object-fit: contain;
    padding: 4px;
    opacity: 0.75;
    transition: 0.25s;
    margin-right: 10px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.4);
}

.event:hover .img img {
    opacity: 1;
}

.event .text {
    font-weight: normal;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    color: white;
    /* transition: 0.25s; */
}

.event .margin {
    padding: 0 10px 0 0;
}

.event .status {
    height: 100%;
    min-width: calc(var(--box-width) / 2);
    box-sizing: border-box;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
}

.event .status div {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    border: 2px solid #F0F0F0;
    opacity: 1;
}

.event .next {
    height: 100%;
    min-width: calc(var(--box-width) / 2);
    box-sizing: border-box;
    padding: 9px 6px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
}

.event .next:hover {
    background: rgba(255, 255, 255, 0.4);
}

.event .next img {
    height: 100%;
    opacity: 0.6;
}

.back {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 0;
    height: 100vh;
    background: rgba(196, 196, 196, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1000;
    overflow: auto;
    box-sizing: border-box;
    transition: 0.25s;
    border-left: 2px solid #999;
}

.back__inner {
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    /* overflow: auto; */
}

.back__close {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 1001;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.25s;
}

.back__close:hover {
    opacity: 1;
}

.back__close img {
    width: 16px;
}

.card {
    width: 100%;
    max-width: 560px;
    min-width: 360px;
    height: auto;
    /* border-radius: 8px; */
    background: #F0F0F0;
    box-sizing: border-box;
    padding: 48px;
    z-index: 1001;
}

.card__start {
    display: flex;
    flex-direction: row;
}

.card__status {
    color: white;
    padding: 4px 10px;
    margin-right: 8px;
    border-radius: 4px;
    border: 2px solid white;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    display: flex;
    align-items: center;
}

.card__level_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    flex-grow: 1;
}

.card__title {
    font-size: 36px;
    line-height: 44px;
    color: #222222;
    display: flex;
    font-weight: 900;
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
    margin-top: 0;
    align-items: flex-start;
}

.card__title div {
    flex-grow: 1;
}

.card__title img {
    max-height: 64px;
    max-width: 144px;
    border-radius: 4px;
    margin-left: 12px;
    object-fit: contain;
    box-sizing: border-box;
}

.card__title_full {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 12px;
}

.card__date {
    display: flex;
    flex-direction: row;
}

.card__date div:nth-child(2) {
    background: #CDE3F0;
    border-radius: 4px;
    padding: 4px 10px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__date div img {
    width: 16px;
    margin: 0 10px;
}

.card__action,
.card__finish {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card__action div,
.card__finish div {
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    margin: 24px 0 0 0;
    width: auto;
    transition: 0.25s;
    cursor: pointer;
}

.card__action a,
.card__finish a {
    text-decoration: none;
}

.card__action div {
    /* border: 3px solid #57ac47; */
    /* color: #57ac47; */
    background: #57ac47;
    color: white;
}

.card__finish div {
    /* border: 3px solid #78BBE2;
    color: #78BBE2; */
    background: #78BBE2;
    color: white;
}

.card__action div:hover,
.card__finish div:hover {
    /* border: 3px solid #e27878;
    color: #e27878; */
    background: #e27878;
    color: white;
}

.card__tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 12px 0;
}

.card__tag div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    transition: 0.25s;
    cursor: pointer;
    color: #222;
    text-transform: uppercase;
}

.card__tag div div {
    width: 12px;
    height: 12px;
    padding: 0;
    margin-top: 4px;
    margin-left: -2px;
    border-radius: 2px;
}

.card__tag div:hover {
    background: #e27878;
    color: white;
}

.card__contact,
.card__format,
.card__place,
.card__pay,
.card__age,
.card__doc {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.card__contact div:first-child,
.card__format div:first-child,
.card__place div:first-child,
.card__pay div:first-child,
.card__doc div:first-child,
.card__age div:first-child {
    width: 140px;
    opacity: 0.6;
    line-height: 24px;
}

.card__age {
    margin: 12px 0;
}

.card__doc,
.card__pay {
    margin-bottom: 12px;
}

.card__doc div:nth-child(2) a {
    text-decoration: none;
    padding: 2px 6px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    transition: 0.25s;
}

.card__doc div:nth-child(2) a:hover {
    background: #e27878;
    color: white;
}

.card__contact div:nth-child(2),
.card__format div:nth-child(2),
.card__place div:nth-child(2),
.card__pay div:nth-child(2),
.card__doc div:nth-child(2),
.card__age div:nth-child(2) {
    line-height: 24px;
}

.card__desc {
    margin: 24px 0 24px 0;
    font-size: 18px;
}

.card__format {
    margin: 12px 0;
}

.card__org {
    flex-wrap: wrap;
}

.card__org div:first-child {
    margin-bottom: 8px;
    font-size: 14px;
    opacity: 0.6;
}

.card__org div img {
    max-height: 48px;
    max-width: 144px;
    border-radius: 4px;
    margin-right: 10px;
    vertical-align: middle;
}

@media (max-width: 560px) {

    :root {
        --box-width: 40px;
        --box-height: 40px;
    }

    .back {
        left: 0px;
        top: 100%;
        right: auto;
        border-top: 2px solid #999;
        border-left: 0px;
    }

    .back__inner {
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        overflow: auto;
    }

    .back__close {
        top: 24px;
        right: 24px;
    }

    .card {
        width: 100%;
        max-width: 560px;
        min-height: 100vh;
        height: auto;
        border-radius: 0px;
        background: #F0F0F0;
        box-sizing: border-box;
        padding: 24px;
        z-index: 1001;
    }

    .card__title {
        flex-direction: column-reverse;
    }

    .card__title div {
        width: 100%;
        text-align: center;
    }

    .card__title_full {
        text-align: center;
    }

    .card__title img {
        margin: 0;
        margin-bottom: 8px;
        width: 100%;
        align-self: center;
    }

    .card__date {
        justify-content: center;
    }

    .card__contact div:first-child,
    .card__format div:first-child,
    .card__doc div:first-child,
    .card__age div:first-child {
        width: 140px;
    }
}
